.home {
  width: 300px; 
  height: 200px; 
  margin: auto;
  background-color: aqua;
  padding: 10px;
  border-radius: 50px;
}

.title {
    text-align: center;
}

.NavLink {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 7px;
}
  
.NavLink:hover {
color: #666;
background-color: #eee;
border-radius: 1px;
}

.task {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task h3 {
    margin: 0;
    font-size: 18px;
}

.task button {
    border: none;
    background-color: #f44336;
    color: #fff;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.task button:hover {
    background-color: #d32f2f;
}
  
.task-form {
display: flex;
flex-direction: column;
align-items: center;
}

.task-form input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
}